/* 노멀라이징 */
*{
    margin: 0;
    padding: 0;
  }
  ul , li {
    list-style: none ;
  }
  a{
    color: inherit ;
    text-decoration: none ;
  }
  /* 라이브러리 */
  .cell{
    float: left ;
  }
  .cell-r{
    float: right ;
  }
  .row::after{
    clear: both;
    content: "";
    display: block;
  }
  .con{
    max-width: 97%;
    margin: 0 auto ;
  } 
  
  .img-box {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
  }
  

.top-bar-wrap{
    width: 100%;
    background-color: #eee;
}

.top-bar-wrap > .top-bar{
    width: 100%;
    height: 35px;

}

.top-bar-wrap > .top-bar > .top-bar-left > svg{

    margin: 0 auto;
    line-height: 35px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    cursor: pointer;

}

.top-bar-wrap > .top-bar > .top-bar-left > svg:hover{
  opacity: 0.5;
}

.top-bar-wrap > .top-bar > .top-bar-left > svg:nth-child(1){
  margin-left: 35px;
}

.top-bar-wrap > .top-bar > .top-bar-right > .text{
   
}

.top-bar-wrap > .top-bar > .top-bar-right > .text > ul > li:hover{
  opacity: 0.7;
}

.top-bar-wrap > .top-bar > .top-bar-right > .text > ul{

margin-right: 10px;

}

.top-bar-wrap > .top-bar > .top-bar-right > .text > ul > li{
    margin-right: 20px;
    line-height: 35px;
    font-size: 12px;
    position: relative;
}

.top-bar-wrap > .top-bar > .top-bar-right > .text > ul > li::after{
    content: "";
    display: block;
    width: 1px;
    background-color: black;
    height: 10px;
    position: absolute;
    top:50%;
    left: 60px;
    transform: translateY(-50%);
}

.top-bar-wrap > .top-bar > .top-bar-right > .text > ul > li:nth-child(3):after{
  display: none;
}

.top-bar-wrap > .top-bar > .top-bar-right > .text > ul > li:nth-child(1):after{
left: 57px;
}

/* .top-bar-wrap > .top-bar > .top-bar-right > .text > ul > li:nth-child(3){
    border-right: 0;
} */


.top-menu-wrap{
    width: 100%;
    height: 60px;
    background-color: white;
    /* position: fixed; */

}

.top-menu-wrap > .top-menu{
    width: 100%;
    position: relative;
}


.top-menu-wrap > .top-menu > .top-menu-left{
    width: 60px;
    height: 40px;
    position: absolute;
    left: 20px;
    top: 10px;
    cursor: pointer;
}

.top-menu-wrap > .top-menu > .top-menu-left:hover{
  opacity: 0.5;
}

.top-menu-wrap > .top-menu > .top-menu-mid{
 
    position: absolute;
    text-align: center;
    line-height: 60px;
    transform: translatex(-50%);
    left: 50%;
    

}

.top-menu-wrap > .top-menu > .top-menu-mid > ul > li{

    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    font-weight: 400;
    letter-spacing: -0.2px;
}



.top-menu-wrap > .top-menu > .top-menu-mid > ul > li::after{
  content: "";
  display: block;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
}

.top-menu-wrap > .top-menu > .top-menu-mid > ul > li.active::after{
  width: 100%;
}

.top-menu-wrap > .top-menu > .top-menu-right{
    line-height: 60px;
}

.top-menu-wrap > .top-menu > .top-menu-right > ul > li{
  font-size: 25px;
  margin-right: 20px;
  position: relative;
  z-index: 9999;
}

.top-menu-wrap > .top-menu > .top-menu-right > ul > li::after{
  content: "";
  display: block;
  width: 37px;
  height: 37px;
  border-radius: 30px;
  background-color: #cecece;
  position: absolute;
  top: 12px;
  right: -6px;
  visibility: hidden;
}

.top-menu-wrap > .top-menu > .top-menu-right > ul > li:hover::after{
  visibility: visible;
  opacity: 0.5;
  cursor: pointer;
}

.main-menu-wrap{
  width: 100%;
}

.main-menu-wrap > .main-menu-image{
  width: 100%;
}

.main-menu-wrap > .main-menu-image > .img-box{
  width: 100%;
  padding-bottom: 45%;
  cursor: pointer;
}

.main-text-wrap{
  width: 100%;
  text-align: center;
  margin-top: 30px;
  position: relative;
}

.main-text-wrap > .main-text{

}


.main-text-wrap > .main-text > h1{
  font-weight: bold;
  font-size: 40px;
  letter-spacing: -1px;
}

.main-text-wrap > .main-text > h6{
  margin-top: 20px;
  font-size: 20px;
  letter-spacing: -1px;
}

.main-text-wrap > .buy-btn{
  margin-top: 50px;
  width: 110px;
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 25px;
  background-color: black;
  transform: translate(-50%,-50%);
  left: 50%;
  color: white;
  text-align: center;
  line-height: 45px;
  position: absolute;
  cursor: pointer;
  z-index: 9999;
}

.main-text-wrap > .buy-btn:hover{

  transition: 0.5s;
  opacity: 0.8;

}

.main-menu-wrap2{
  width: 100%;
}

.main-menu-wrap2 > .main-menu-image2{
  width: 100%;
  position: relative;
}

.main-menu-wrap2 > .main-menu-image2 > .img-box{
  margin-top: 180px;
  width: 100%;
  padding-bottom: 45%;
  cursor: pointer;
}


.main-text-wrap2{
  width: 100%;
  text-align: center;
  margin-top: 30px;
  position: relative;
}

.main-text-wrap2 > .main-text2{

}


.main-text-wrap2 > .main-text2 > h1{
  font-weight: bold;
  font-size: 40px;
  letter-spacing: -1px;

}

.main-text-wrap2 > .main-text2 > h3{
  font-weight: thin;
  letter-spacing: -1px;
  margin-bottom: 10px;
  
}

.main-text-wrap2 > .main-text2 > h6{
  margin-top: 20px;
  font-size: 20px;
  letter-spacing: -1px;
}

.main-text-wrap2 > .btn-box{
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
}


.main-text-wrap2 > .btn-box > .buy-btn2{
  width: 105px;
  height: 40px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 25px;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  z-index: 9999;
  margin-right: 10px;
  font-size: 15px;
}


.main-text-wrap2 > .btn-box > .buy-btn2:hover{

  transition: 0.5s;
  opacity: 0.8;

}

.main-text-wrap2 > .btn-box > .more-btn{
  width: 105px;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 25px;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  z-index: 9999;
}

.main-text-wrap2 > .btn-box > .more-btn:hover{

  transition: 0.5s;
  opacity: 0.8;

}

.main-menu-wrap3{
  width: 100%;
  position: relative;
}

.main-menu-wrap3 > .main-menu-image3{
  width: 100%;
}

.main-menu-wrap3 > .menu-txt{

  margin-left: 10px;
  margin-top: 100px;
  /* position: absolute;
  top:-50px;
  left: 20px; */

}

.main-menu-wrap3 > .menu-txt > h6{

  font-size: 25px;
  font-weight: 700;
  letter-spacing: -1px;

}

.main-menu-wrap3 >.slide .main-menu-image3 > .img-box{
  margin-top: 20px;
  width: 100%;
  padding-bottom: 45%;
  display: block;
  cursor: pointer;
}

.main-text-wrap3{
  width: 100%;
  text-align: center;
  margin-top: 30px;
  position: relative;
}

.main-text-wrap3 > .main-text3{

  margin-top: 40px;
  text-align: center;
}


.main-text-wrap3 > .main-text3 > h1{
  font-weight: bold;
  font-size: 40px;
  letter-spacing: -1px;

}

.main-text-wrap3 > .main-text3 > h3{
  font-weight: thin;
  letter-spacing: -1px;
  margin-bottom: 10px;
  
}

.main-text-wrap3 > .main-text3 > h6{
  margin-top: 10px;
  font-size: 20px;
  letter-spacing: -1px;
}

.main-text-wrap3 > .btn-box{
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
}


.main-text-wrap3 > .btn-box > .buy-btn3{
  width: 105px;
  height: 40px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 25px;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  z-index: 9999;
  margin-right: 10px;
  font-size: 15px;
}

.main-text-wrap3 > .btn-box > .buy-btn3:hover{

  transition: 0.5s;
  opacity: 0.8;

}

.main-text-wrap3 > .btn-box > .more-btn2{
  width: 160px;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  z-index: 9999;
  letter-spacing: -1px;
}

.main-text-wrap3 > .btn-box > .more-btn2:hover{

  transition: 0.5s;
  opacity: 0.8;

}

.main-menu-wrap4{
  width: 100%;
  margin-top: -80px;
}

.main-menu-wrap4 > .main-menu-image4{
  width: 100%;

}

.main-menu-wrap4 > .main-menu-image4 > .img-box{
  margin-top: 180px;
  width: 100%;
  padding-bottom: 45%;
  cursor: pointer;
}


.main-text-wrap4{
  width: 100%;
  text-align: center;
  margin-top: 30px;
  position: relative;
}

.main-text-wrap4 > .main-text4{

  margin-top: 40px;
  text-align: center;
}


.main-text-wrap4 > .main-text4 > h1{
  font-weight: bold;
  font-size: 40px;
  letter-spacing: -2px;

}

.main-text-wrap4 > .main-text4 > h3{
  font-weight: thin;
  letter-spacing: -1px;
  margin-bottom: 10px;
  
}

.main-text-wrap4 > .main-text4 > h6{
  margin-top: 10px;
  font-size: 20px;
  letter-spacing: -2px;
}

.main-text-wrap4 > .btn-box{
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
}


.main-text-wrap4 > .btn-box > .buy-btn4{
  width: 105px;
  height: 40px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 25px;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  z-index: 9999;
  margin-right: 10px;
  font-size: 15px;
}

.main-text-wrap4 > .btn-box > .buy-btn4:hover{

  transition: 0.5s;
  opacity: 0.8;

}

.main-menu-wrap5{
  width: 100%;
  margin-top: -80px;
}

.main-menu-wrap5 > .main-menu-image5{
  width: 100%;

}

.main-menu-wrap5 > .main-menu-image5 > .img-box{
  margin-top: 180px;
  width: 100%;
  padding-bottom: 45%;
  cursor: pointer;
}

.main-text-wrap5{
  width: 100%;
  text-align: center;
  margin-top: 30px;
  position: relative;
}

.main-text-wrap5 > .main-text5{

  margin-top: 40px;
  text-align: center;
}


.main-text-wrap5 > .main-text5 > h1{
  font-weight: bold;
  font-size: 40px;
  letter-spacing: -2px;

}

.main-text-wrap5 > .main-text5 > h3{
  font-weight: thin;
  letter-spacing: -1px;
  margin-bottom: 10px;
  
}

.main-text-wrap5 > .main-text5 > h6{
  margin-top: 10px;
  font-size: 20px;
  letter-spacing: -2px;
}

.main-text-wrap5 > .btn-box{
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
}


.main-text-wrap5 > .btn-box > .buy-btn5{
  width: 105px;
  height: 40px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 25px;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  z-index: 9999;
  margin-right: 10px;
  font-size: 15px;
}

.main-text-wrap5 > .btn-box > .buy-btn5:hover{

  transition: 0.5s;
  opacity: 0.8;

}

.main-menu-wrap6{
  width: 100%;
  margin-top: -80px;
}

.main-menu-wrap6 > .main-menu-image6{
  width: 100%;

}

.main-menu-wrap6 > .main-menu-image6 > .img-box{
  margin-top: 180px;
  width: 100%;
  padding-bottom: 45%;
  cursor: pointer;
}

.main-text-wrap6{
  width: 100%;
  text-align: center;
  margin-top: 30px;
  position: relative;
}

.main-text-wrap6 > .main-text6{

  margin-top: 40px;
  text-align: center;
}


.main-text-wrap6 > .main-text6 > h1{
  font-weight: bold;
  font-size: 40px;
  letter-spacing: -2px;

}

.main-text-wrap6 > .main-text6 > h3{
  font-weight: thin;
  letter-spacing: -1px;
  margin-bottom: 10px;
  
}

.main-text-wrap6 > .main-text6 > h6{
  margin-top: 10px;
  font-size: 20px;
  letter-spacing: -2px;
}

.main-text-wrap6 > .btn-box{
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
}


.main-text-wrap6 > .btn-box > .buy-btn6{
  width: 105px;
  height: 40px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 25px;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  z-index: 9999;
  margin-right: 10px;
  font-size: 15px;
}

.main-text-wrap6 > .btn-box > .buy-btn6:hover{

  transition: 0.5s;
  opacity: 0.8;

}

.main-menu-wrap7{
  width: 100%;
  
}

.main-menu-wrap7 > .menu-txt{
  margin-top: 110px;
}

.main-menu-wrap7 > .menu-txt > h6{
  letter-spacing: -1px;
  font-size: 25px;;
  font-weight: 500;


}


.main-menu-wrap7 > .trend-img-wrap{
  width: 100%;
  margin-top:20px;

}

.main-menu-wrap7 > .trend-img-wrap > .img-wrap{
  width: 47%;
  height: 700px;
  cursor: pointer;
}

.main-menu-wrap7 > .trend-img-wrap > .img-wrap > .img-left{
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  
}

.main-menu-wrap7 > .trend-img-wrap > .img-wrap > .img-left > .txt-box{
  position: absolute;
  bottom: 5%;
  left: 10%;
  cursor: pointer;
}

.main-menu-wrap7 > .trend-img-wrap > .img-wrap > .img-left > .txt-box > .img-txt > h6{
  font-size: 20px;
  letter-spacing: -3px;
  color: white;
}

.main-menu-wrap7 > .trend-img-wrap > .img-wrap > .img-left > .txt-box > .btn-box{
  /* position: absolute;
  bottom: 5%;
  left: 10%; */
  margin-top: 25px;
}


.main-menu-wrap7 > .trend-img-wrap > .img-wrap > .img-left > .txt-box > .btn-box > .buy-btn7{
  width: 105px;
  height: 40px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 25px;
  background-color: white;
  color: black;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  z-index: 9999;
  margin-right: 10px;
  font-size: 15px;
}


.main-menu-wrap7 > .trend-img-wrap > .img-wrap > .img-left > .txt-box > .btn-box > .buy-btn7:hover{

  transition: 0.3s;
  opacity: 0.7;

}

.main-menu-wrap7 > .trend-img-wrap > .img-wrap2{
  margin-left: 2%;
  width: 47%;
  height: 700px;
  cursor: pointer;
  
}

.main-menu-wrap7 > .trend-img-wrap > .img-wrap2 > .img-right{
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.main-menu-wrap7 > .trend-img-wrap > .img-wrap2 > .img-right > .txt-box{
  position: absolute;
  left: 10%;
  bottom: 5%;
  cursor: pointer;
}

.main-menu-wrap7 > .trend-img-wrap > .img-wrap2 > .img-right > .txt-box > .img-txt > h6{
  font-size: 20px;
  letter-spacing: -3px;
  color: white;
}

.main-menu-wrap7 > .trend-img-wrap > .img-wrap2 > .img-right > .txt-box > .btn-box{
  /* position: absolute;
  bottom: 5%;
  left: 10%; */
  margin-top: 25px;
}


.main-menu-wrap7 > .trend-img-wrap > .img-wrap2 > .img-right > .txt-box > .btn-box > .buy-btn7{
  width: 105px;
  height: 40px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 25px;
  background-color: white;
  color: black;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  z-index: 9999;
  margin-right: 10px;
  font-size: 15px;
}

.main-menu-wrap7 > .trend-img-wrap > .img-wrap2 > .img-right > .txt-box > .btn-box > .buy-btn7:hover{

  transition: 0.3s;
  opacity: 0.7;

}

.main-text-wrap8{
  width: 100%;
  
}

.main-text-wrap8 > h6{
  font-size: 25px;
  font-weight: 500;
  margin-left: 20px;
  margin-top: 80px;
  letter-spacing: -1px;
}

.main-menu-wrap8{
  width: 100%;
  /* margin-top: -490px; */
  
}

.main-menu-wrap8 > .slider{
  /* width: 100%; */
}

.main-menu-wrap8 > .slider .main-menu-image8{
 margin-left: 10px;
 margin-right: 10px;
}

.main-menu-wrap8 > .slider .main-menu-image8 > .img-box{
  margin-top: 20px;
  width: 100%;
  padding-bottom: 100%;
  cursor: pointer;
}

.main-menu-wrap8 > .slider .main-menu-image8 > .txt-box{
  margin-top: 20px;
  cursor: pointer;
}

.main-menu-wrap8 > .slider .main-menu-image8 > .txt-box > h6{
  font-size: 18px;
  letter-spacing: -1px;
  
}

.main-menu-wrap8 > .slider .main-menu-image8 > .txt-box > p{
  color: gray;
  /* opacity: 0.9; */
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 25px;
}

.main-text-wrap9{
  width: 100%;
  margin-top: 120px;
  margin-left: 3%;
}

.main-text-wrap9 > h6{
  font-size: 25px;
  font-weight: 500;

  margin-top: 80px;
  letter-spacing: -1px;
}

.main-menu-wrap9{
  width: 100%;
}

.main-menu-wrap9 > .main-menu{
  width: 100%;
}

.main-menu-wrap9 > .main-menu > .img-wrap{
  width: 100%;
  margin-top: 20px;
 
}

.main-menu-wrap9 > .main-menu > .img-wrap > .img-box{
  width: 32%;
  padding-bottom: 32%;
  margin-right: 15px;
  cursor: pointer;
  position: relative;


}

.main-menu-wrap9 > .main-menu > .img-wrap > .img-box:nth-child(3){

  margin-right: 0px;
}

.main-menu-wrap9 > .main-menu > .img-wrap > .img-box > h1{
  color:white;
  font-size: 18.5px;
  letter-spacing: -1px;
  position: absolute;
  bottom: 5%;
  left: 10%;
}

.footer-wrap{
  margin-top: 220px;
  width: 100%;
  height: 500px;
  background-color: #111111;
  position: relative;
  
}

.footer-wrap > .footer-wrap2{

  width: 880px;
  height: 272px;
  margin: 0 auto;
  text-align: left;
}

.footer-wrap > .footer-wrap2 > .footer{
  margin-top: 60px;
  width: 25%;
}


.footer-wrap > .footer-wrap2 > .footer > ul > li{

  font-size: 13px;
  line-height: 25px;
  color: white;
}

.footer-wrap > .footer-wrap2 > .footer > ul > .footo{
  opacity: 0.5;
  font-size: 11px;
}

.footer-wrap > .footer-wrap2 > .footer > ul > .footo:hover{
  opacity: 1;
}


.footer-line-wrap{
  width: 100%;

}

.footer-line-wrap > .footer-line{
  width: 100%;
}

.footer-line-wrap > .footer-line::after{
  content: "";
  display: block;
  width: 100%;
  border: 0.01px solid white;
  opacity: 0.1;
  position: absolute;
  bottom: 100px;
}

.footer-line-wrap > .footer-line::before{
  content: "";
  display: block;
  width: 100%;
  border: 0.01px solid white;
  opacity: 0.1;
  position: absolute;
  bottom: 152px;
}

.footer-line-wrap > .footer-line > .footer-left{
  width: 500px;
  color: white;
  position: absolute;
  bottom: 120px;
  left: 40px;
}

.footer-line-wrap > .footer-line > .footer-left > ul > li{
  margin-right: 20px;
  font-size: 11px;
}

.footer-line-wrap > .footer-line > .footer-left > p{
  font-size: 10px;
  opacity: 0.5;
}

.footer-line-wrap > .footer-line > .footer-right{
  width: 190px;
  color: white;
  position: absolute;
  bottom: 120px;
  text-align: right;
  right: 0;
}


.footer-line-wrap > .footer-line > .footer-right > ul > li{
  font-size: 11px;
  margin-right: 20px;
  opacity: 0.5;
}


.footer-line-wrap > .footer-line > .footer-right > ul > li:nth-child(2){
  margin-right: 0;
}

.footer-finish-wrap{
  width: 100%;
  background-color: #111111;
}

.footer-finish-wrap > .footer-finish-wrap2{
  width: 900px;
  height: 272px;
  margin: 0 auto;
  text-align: left;
  position: relative;
}

.footer-finish-wrap > .footer-finish-wrap2 > .finish{
  width: 50%;
  margin: 0 auto;
}

.footer-finish-wrap > .footer-finish-wrap2 > .footer-finish-left{
  position: absolute;
  bottom: 50px;
  left: 10px;

}

.footer-finish-wrap > .footer-finish-wrap2 > .footer-finish-left > p{
  font-size: 11px;
  color: white;
  opacity: 0.5;
}

.footer-finish-wrap > .footer-finish-wrap2 > .footer-finish-left > p > span{
  color: white;
  opacity: 1;
  cursor: pointer;
}

.footer-finish-wrap > .footer-finish-wrap2 > .footer-finish-right{
  position: absolute;
  bottom: 65px;
  right: -30px;
  text-align: left;
}

.footer-finish-wrap > .footer-finish-wrap2 > .footer-finish-right > p{
  font-size: 11px;
  color: white;
  opacity: 0.5;
}

.footer-finish-wrap > .footer-finish-wrap2 > .footer-finish-right > p > span{
  opacity: 1;
  cursor: pointer;
}

/* .footer-finish-wrap > .footer-finish-right > p > span::after{
  content: "";
  display: block;
  width: 100%;
  border: 1px solid white;

} */