/* 노멀라이징 */
*{
    margin: 0;
    padding: 0;
  }
  ul , li {
    list-style: none ;
  }
  a{
    color: inherit ;
    text-decoration: none ;
  }
  /* 라이브러리 */
  .cell{
    float: left ;
  }
  .cell-r{
    float: right ;
  }
  .row::after{
    clear: both;
    content: "";
    display: block;
  }
  .con{
    max-width: 93%;
    margin: 0 auto ;
  } 
  
  .img-box {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
  }
  

.top-bar-wrap{
    width: 100%;
    background-color: #eee;
}

.top-bar-wrap > .top-bar{
    width: 100%;
    height: 35px;

}

.top-bar-wrap > .top-bar > .top-bar-left{

    

}

.top-bar-wrap > .top-bar > .top-bar-right > text{
    position: relative;
    width: 300px;
    height: 40px;
}

.top-bar-wrap > .top-bar > .top-bar-right > .text > ul{

margin-right: 10px;

}

.top-bar-wrap > .top-bar > .top-bar-right > .text > ul > li{
    margin-right: 20px;
    line-height: 35px;
    font-size: 12px;
}

/* .top-bar-wrap > .top-bar > .top-bar-right > .text > ul > li::after{
    content: "";
    display: block;
    position: absolute;
    right:0;
    background-color: black;
    height: 1px;
} */

/* .top-bar-wrap > .top-bar > .top-bar-right > .text > ul > li:nth-child(3){
    border-right: 0;
} */


.top-menu-wrap{
    width: 100%;
    height: 60px;
    background-color: white;
    /* position: fixed; */

}

.top-menu-wrap > .top-menu{
    width: 100%;
    position: relative;
}


.top-menu-wrap > .top-menu > .top-menu-left{
    
}

.top-menu-wrap > .top-menu > .top-menu-mid{
 
    position: absolute;
    text-align: center;
    line-height: 60px;
    transform: translatex(-50%);
    left: 50%;
    

}

.top-menu-wrap > .top-menu > .top-menu-mid > ul > li{

    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    font-weight: 400;
}


.top-menu-wrap > .top-menu > .top-menu-mid > ul > li::after{
  content: "";
  display: block;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
}

.top-menu-wrap > .top-menu > .top-menu-mid > ul > li.active::after{
  width: 100%;
}

.top-menu-wrap > .top-menu > .top-menu-right{
    
}

.main-menu-wrap{
  width: 100%;
}

.main-menu-wrap > .main-menu-image{
  width: 100%;
}

.main-menu-wrap > .main-menu-image > .img-box{
  width: 100%;
  padding-bottom: 45%;
}

.main-text-wrap{
  width: 100%;
  text-align: center;
  margin-top: 30px;
  position: relative;
}

.main-text-wrap > .main-text{

}


.main-text-wrap > .main-text > h1{
  font-weight: bold;
  font-size: 40px;
  letter-spacing: -1px;
}

.main-text-wrap > .main-text > h6{
  margin-top: 20px;
  font-size: 15px;
  letter-spacing: -1px;
}

.main-text-wrap > .buy-btn{
  margin-top: 50px;
  width: 110px;
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 25px;
  background-color: black;
  transform: translate(-50%,-50%);
  left: 50%;
  color: white;
  text-align: center;
  line-height: 45px;
  position: absolute;
  cursor: pointer;
  z-index: 9999;
}

.main-menu-wrap2{
  width: 100%;
}

.main-menu-wrap2 > .main-menu-image2{
  width: 100%;
  position: relative;
}

.main-menu-wrap2 > .main-menu-image2 > .img-box{
  margin-top: 180px;
  width: 100%;
  padding-bottom: 45%;
}


.main-text-wrap2{
  width: 100%;
  text-align: center;
  margin-top: 30px;
  position: relative;
}

.main-text-wrap2 > .main-text2{

}


.main-text-wrap2 > .main-text2 > h1{
  font-weight: bold;
  font-size: 40px;
  letter-spacing: -1px;

}

.main-text-wrap2 > .main-text2 > h3{
  font-weight: thin;
  letter-spacing: -1px;
  margin-bottom: 10px;
  
}

.main-text-wrap2 > .main-text2 > h6{
  margin-top: 20px;
  font-size: 15px;
  letter-spacing: -1px;
}



.main-text-wrap2 > .buy-btn2{
  margin-top: 50px;
  width: 110px;
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 25px;
  background-color: black;
  transform: translate(-99%,-50%);
  left: 50%;
  color: white;
  text-align: center;
  line-height: 45px;
  position: absolute;
  cursor: pointer;
  z-index: 9999;
}

.main-text-wrap2 > .more-btn{
  margin-top: 50px;
  width: 110px;
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 25px;
  background-color: black;
  transform: translate(-1%,-50%);
  left: 50%;
  color: white;
  text-align: center;
  line-height: 45px;
  position: absolute;
  cursor: pointer;
  z-index: 9999;
}